/*------  TIMELINE  ------ */

.timeline {
    background: #15304F;
    overflow-y: hidden;
}

.timeline ul {
    background: #15304F;
    padding-top: 90px;
    padding-bottom: 20px;
    margin: 0;
    cursor: pointer;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 3px;
    margin: 0 auto;
    padding-top: 130px;
    background: #fff;
    padding-bottom: 50px;
}

.list-item {
    position: relative;
    bottom: 0;
    width: 450px;
    height: 215px;
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: -80px;
    color: grey;
    text-align: justify;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.75);
}

.titleItemTimeline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: black;
    font-style: normal;
}

.seeMore {
    font-style: normal;
    font-weight: bold;
    padding-top: 10px;
    text-align: right;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.seeMore a {
    text-decoration: none !important;
    color: #65B32E;
}

.month {
    position: absolute;
    width: 250px;
    left: 42%;
    padding: 5px;
    text-align: center;
    background: #65B32E;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    border-radius: 5px;
}

.day {
    color: #65B32E;
    position: absolute;
    right: 10px;
    margin-top: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
    top: -22px;
    width: 180px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}

.day::after {
    content: '';
    position: absolute;
    left: 116%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border-style: solid;
    border-color: #65B32E;
    border-width: 5px;
    -webkit-box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.75);
}

.list-item::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div::before {
    /*left: -15px;
    border-width: 8px 16px 8px 0;*/
    border-color: transparent transparent transparent transparent;
}

.timeline ul li:nth-child(even) div::before {
    /*right: -15px;
    border-width: 8px 0 8px 16px;*/
    border-color: transparent transparent transparent transparent;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*Timelines*/
.timelines-ul::after {
    transition: background .4s ease-in-out;
}

.timelines-ul {
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
}

/*Items*/
div.list-item::after {
    transition: background .4s ease-in-out;
}

div.in-view::after {
    background: white;
}

.list-item {
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.rightTranslate {
    transform: translate3d(80px, 0, 0);
}

.leftTranslate {
    transform: translate3d(-80px, 0, 0);
}

/*Effect*/
.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent;
    }
}
